$primary:#04AA6D;
$primary-light:#96D4D4;
$secondary:#0D1721;
$primary-light:#38444D;
$orange-light:#FFF4A3;
$red-light:#FFC0C7;
$sky-blue:#96D4D4;
$white:#FFFfff;

// Fonts Sizes
$pera:18px;
$head1:35px;
$head2:28px;
$head3:20px;

// Fonts Lists
$myinter:inter;
$myverdana:verdana;